.find {
    padding: 10px;
}

.form {
    margin-bottom: 30px;
    display: flex;
}

.form input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #282c34;
    margin-right: 5px;
}

.form button {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #fff;
    background: #076485;
    border-radius: 10px;
    margin-right: 5px;
}

.cardsList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}
